/* Font OpenSansHebrew-Regular*/
@font-face {
	font-family: 'OpenSansHebrew-Regular';
	src: URL('./Fonts/OpenSansHebrew-Regular.ttf') format('woff');
}

/* --------- head section */		
.head{
	background-color:#1d819c;
	height: 20%;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: -1;
    background: url(./header.png) center center no-repeat;
    background-size: cover;
}

.logo{
	width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* --------- Form section */
#form{
	direction: rtl;
    margin: 100px 35% 20px 35%;
    direction: rtl;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
	z-index: 1;
    background: white;
	font-family: 'OpenSansHebrew-Regular';
	padding: 2rem !important;
}

#headline{
	margin-top:0;
	font-size:16px;
	margin: 0;
	text-align: center;
}

.label-up{
	font-size: x-small;
}

#login-btn{
	border-radius: 2px;
    background-color: #f6b220;
    font-size: 14px;
    line-height: 1.57;
    padding: 6px 12px;
    width: 100%;
    cursor: pointer;
	border: 1px solid #ccc;
	margin:15px 0 15px 0;
	font-family: 'OpenSansHebrew-Regular';
}

.terms{
	text-decoration: underline;
	color:black;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

body{
	margin:0;
}

.checkbox{
	font-size: x-small;
	text-align: center;
	padding-left: 25px;
}

.content{
	margin: 2% 0% 2% 2%;
}
		
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
}

.mid-space{
	min-width: 15px;
}

.input{
    width: 100%;
    height: 25px;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    padding : 4px 4px 4px 0;
	width: 100%;
	border-radius: 2px !important
}	

.input:focus {
    border-color: #f6b220!important;
	outline-width: 0 !important;
}


/* --------- Placeholder section */
::-webkit-input-placeholder {
    opacity: 0.5 !important; 
}

/* Firefox 18- */
:-moz-placeholder { 
    opacity: 0.5 !important;
}

/* Firefox 19+ */
::-moz-placeholder {  
    opacity: 0.5 !important;
}


/* --------- Checkbox section */
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
content: "\00a0";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: none;
    background-color: #f6b220;
    border-radius: 2px;
    margin-left: 5px;
}
input[type="checkbox"]:checked + label:before {
	background: #fff;
	color: white;
	content: "\2713";
	text-align: center;
	background-color: #f6b220;
}

/* --------- Mobile screen section */
@media screen and (max-width: 965px) {
    #form {
		margin: 100px 12% 20px 12% !important;
    }
}

@media screen and (max-width: 965px){
	.person-name {	
		grid-column-start: 1;
		grid-column-end: 4;
	}
}

@media screen and (max-width: 965px){
	.checkbox{  
		padding-left: 0 !important;
	}
}